<div class="container max-w-screen-md m-auto relative">
  <h2 class="font-semibold break-all bg-slate-50  text-sky-400 shadow-md border-b-2 border-slate-600 p-2 pl-4"><%= @post.title %>
    <em class="text-sky-200">by <%= @user.name %></em>
  </h2>
  <div class="flex gap-4 text-[0.7rem] absolute top-5 right-8">
    <%= render partial: "shared/post_comments_counter_preview" , locals: { post: @post } %>
    <%= render partial: "shared/post_likes_counter_preview" , locals: { post: @post } %>
  </div>
  <div class="font-mono border-b-4 border-slate-50 p-4 mt-8">
    <p><%= @post.text %></p>
  </div>
  <div>
    <h3 class="font-semibold bg-slate-50 text-sky-400 shadow-md border-b-2 border-slate-600 p-2 pl-4 mt-8">Comments</h3>
    <div class="font-mono border-slate-50 p-4 mt-8">
      <% @post.comments.each do |comment| %>
        <%= render partial: "shared/post_comment_preview" , locals: { comment: comment } %>
      <% end %>
    </div>
  </div>
</div>
