<!DOCTYPE html>
<html>
  <head>
    <title>NellBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <div class ="absolute top-0 right-0 bg-slate-700 text-slate-50">
      <% if alert.present? || notice.present? %>
        <div class="border-2 p-2">
          <%= alert %>
          <%= notice %>
        </div>
      <% end %>
    </div>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // JavaScript function to open the modal
      window.openModal = function () {
        document.getElementById('modal').style.display = 'flex';

        // Close modal when clicking outside
        window.addEventListener('click', closeModalOutside);
      };

      // Function to close the modal
      window.closeModal = function () {
        document.getElementById('modal').style.display = 'none';

        // Remove the click event listener
        window.removeEventListener('click', closeModalOutside);
      };

      // Function to close the modal when clicking outside
      function closeModalOutside(event) {
        var modal = document.getElementById('modal');
        if (event.target === modal) {
          window.closeModal();
        }
      }
    });
  </script>
</html>
